---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
	shows: object[];
}

const { shows } = Astro.props;
---
<main>
  <h2>Upcoming Shows</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Venue</th>
        <th>Show Time (Doors)</th>
      </tr>
    </thead>
    <tbody>
      {shows.map(show => (
        show.displayShow ? (
        <tr>
          <td>{show.date}</td>
          <td>{show.location}</td>
          <td><a target="_blank" href={show.link}>{show.venue}</a></td>
          <td>{show.time}{show.doors ? (<>&nbsp;({show.doors})</>) : null}</td>
        </tr>
        ) : null
      ))}
    </tbody>
  </table>
</main>
